<a 
class="bg-white/10 p-3 border 
       rounded-xl flex gap-x-2 items-center
       hover:scale-105 hover:bg-white/20 transition" 
{...Astro.props}
    target="_blank"
    rel="noopener noreferrer">
    <slot />
</a>
